@using BlogSimpleCore.Models
@model Comments

<div class="row">
    <div class="col-md-12"> 
        <form asp-action="Create">
            <input type="hidden" asp-for="PostId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label for="Description">Comment</label>
            </div>
            <div class="form-group" style="padding-top: 10px;">
                <textarea class="form-control" rows="3" asp-for="Description" maxlength="450"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top: 10px;">
                <input type="submit" value="Publish" class="btn btn-info" asp-action="Create" asp-controller="Comment" asp-route-id="PostId" />
            </div>
        </form>
    </div>
</div>
